<h2 *ngIf="hotels && hotels.length > 0">{{title}}</h2>
<button class="btn btn-primary mb-3 btn-show" (click)="toggleShowBadge()">
  <span class="material-icons">{{icon}}</span>
  {{showBadgeText}}
</button>
<div class="hotels row">
  <div class="card col-md-6 col-sm-12 col-lg-3" *ngFor="let hotel of hotels">
    <img [src]="hotel.imageUrl" class="card-img-top" [alt]="hotel.name">
    <div class="card-body">
      <h5 class="card-title">{{hotel.name}}</h5>
      <p class="card-text">{{hotel.description}}</p>
      <a href="#" class="btn btn-primary" *ngIf="showBadge">New</a>
    </div>
  </div>
</div>
